#container {
  display: flex;
}

#center {
  margin-right: 0vw;
}
/* Remaining CSS is identical to original */
#p12 {
  display: flex;
  font-size: 5.4vw;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  text-align-last: center;
  margin: auto;
  letter-spacing: 2px;
  animation: typing 1.3s steps(10, end), blink-caret .75s steps(50, end) infinite;
}

#p12 {
  display: inline-flex;
}
#p13 {
  display: flex;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 2px;
  animation: typing 1.3s steps(10, end), blink-caret .75s steps(50, end) infinite;
}

#p13 {
  display: inline-flex;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
#instructions {font: 16px 'AmericanTypewriter', Cambria, Georgia; border-color: #ffffff; margin: 0 auto; width: 300px;}
.paper {
  padding: 37px 55px 27px;
  position: relative;
  border: 1px solid #B5B5B5;
  background: white;
  background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
}
.paper::before {content:""; z-index:-1; margin:0 1px; width:706px; height:10px; position:absolute; bottom:-3px; left:0; background:white; border:1px solid #B5B5B5;}
.paper::after {content:''; position:absolute; width:0px; top:0; left:39px; bottom:0; border-left:1px solid #F8D3D3;}