<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
{% if not current_user.is_authenticated %}
<div id="container">
    
      <h1 class="title" id="p12">🌎 World Writers Club! ✍ ️
      </h1>
    
  </div>
  <br>
  <h2 class="subtitle" style="line-height: 1.4">Come here to write for fun, anytime you want.<br>
     First person to answer all <span class="badge btn-success">{{ counter }}</span> of our prompts will get a very shiny, very cool prize 🏅
  </h2>
  
  <h3 class="subtitle"><a href="{{ url_for('auth.signup') }}" class="shadow-lg btn btn-danger btn-lg">Join Now</a></h3>
  {% endif %}
  
  
  {% if current_user.is_authenticated %}
<div id="container">
    
      <h1 class="title" id="p12">🌎 World Writers Club! ✍ ️</h1>
    
  </div>
  <br>
  <h2 class="subtitle" style="line-height: 1.4">
    First person to answer all <span class="badge btn-success">{{ counter }}</span> of our prompts will get a very shiny, very cool prize 🏅<br>
     If you're ready...<a href="{{ url_for('auth.prompt_post') }}"><em>Choose a Prompt 🐄</em></a>
  </h2>
  {% endif %}

  
{% endblock %}

