<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
{% if not current_user.is_authenticated %}
<div id="container">
    
      <h1 class="title" id="p12">🌎 World Writers Club! ✍ ️
      </h1>
    
  </div>
  <br>
  <h2 class="subtitle" style="line-height: 1.4">Match with another writer, and you both have 15 minutes to answer a writing prompt.<br>
     Then share with each other...<br>
      then never speak again ;)
  </h2>
  
  <h3 class="subtitle"><a href="{{ url_for('auth.signup') }}" class="shadow-lg btn btn-danger btn-lg">Join Now</a></h3>
  {% endif %}
  
  
  {% if current_user.is_authenticated %}
<div id="container">
    
      <h1 class="title" id="p12">🌎 World Writers Club! ✍ ️</h1>
    
  </div>
  <br>
  <h2 class="subtitle" style="line-height: 1.4">Match with another writer, and you both have 15 minutes to answer a writing prompt.<br>
     If you're ready...<br>
      Choose a Prompt ;)
  </h2>
  {% endif %}

  
{% endblock %}


"""
<div id="container">
    <div id="center">
      <h1 id="p12">
        Join The Two Writer Club 
      </h1>
    </div>
  </div>
  <h2 class="subtitle">Get matched with another writer, and you both have 15 minutes to answer a writing prompt. Then share with each other, then never speak again ;)
  </h2>
  {% if not current_user.is_authenticated %}
  <h3><a href="{{ url_for('auth.signup') }}" class="btn-block">Sign Up</a> Or <a href="{{ url_for('auth.login') }}">Login</a> to start.</h3>
  {% endif %}
  """