<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-success">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<h1 class="title">
  Welcome, {{ current.name }}!
</h1>
<h1 class="subtitle">Your Collection</h1>

  <div class="card-columns">
  {% for personal in personals %}

  <div class="card text-right">
      <div class="card-header">
        <b>{{ personal.prompt }}</b>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>"{{ personal.text }}"</p>
          <footer class="blockquote-footer">by <cite title="Source Title">{{ current.name }}</cite></footer>
        </blockquote>
      </div>
    </div>
  
  {% endfor %}
</div>

<hr>

Keep Writing bby!
{% endblock %} 